<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link
      rel="shortcut icon"
      href="./img/logo-france.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/css/bootstrap.min.css"
      integrity="sha512-nqrqz6xPug/bD0w6eBYU6p1c6HohZ0Sh1/KkOzL9bS5e5Tp5/V5pzY+Yd5o4Q4/Z4Z4wyikV7E+Bpx87XJQrWQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="/">
          <img src="/img/logo-france.png" alt="Logo" />
          <!-- <span class="logo-france">Ma cuisine</span> -->
        </a>
        <button
          class="navbar-toggler hamburguesa"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
          <!--<span>☰</span>-->
        </button>
        <div class="container-fluid">
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarNav"
          >
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="ma-cuisine.html">Ma Cuisine</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="menu.html">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contacto.html">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="login.html">Registro/Ingreso</a>
              </li>
              <li class="nav-item" id="usuarios-link" style="display: none;">
                <a class="nav-link" href="/usuarios.html">Usuarios</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="d-flex justify-content-center px-5">
      <div class="contact-page px-3">
        <div>
          <div>
            <h2 class="text-center">CONTACTÁNOS</h2>
          </div>
          <p class="form-txt">¡Escribinos un mensaje y hace tu reserva!</p>
        </div>
        <form class="row justify-content-center needs-validation" novalidate>
          <div class="col-md-6 mb-3">
            <input
              type="text"
              class="form-control custom-input"
              placeholder="Nombre"
              aria-label="Nombre"
              id="validationDefault01"
              required
            />
            <div class="invalid-feedback">Por favor ingrese su nombre.</div>
          </div>
          <div class="col-md-6 mb-3">
            <input
              type="text"
              class="form-control custom-input"
              placeholder="Apellido"
              aria-label="Apellido"
              required
            />
            <div class="invalid-feedback">Por favor ingrese su apellido.</div>
          </div>
          <div class="col-md-12 mb-3">
            <input
              type="email"
              class="form-control custom-input"
              placeholder="email"
              aria-label="email"
              required
            />
            <div class="invalid-feedback">
              Por favor ingrese un correo electrónico válido.
            </div>
          </div>
          <div class="check-radio">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="flexRadioDefault1"
                required
              />
              <label class="form-check-label" for="flexRadioDefault1">
                Soy cliente habitual
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="flexRadioDefault2"
                required
                checked
              />
              <label class="form-check-label" for="flexRadioDefault2">
                Es la primera vez que vengo
              </label>
              <div class="invalid-feedback">
                Por favor seleccione una opción.
              </div>
            </div>
          </div>
          <div class="container-form-check">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="flexCheckDefault">
                Quiero suscribirme al Newsletter
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckChecked"
                checked
              />
              <label class="form-check-label" for="flexCheckChecked">
                Quiero recibir noticias sobre talleres
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault2"
              />
              <label class="form-check-label" for="flexCheckDefault2">
                Quiero recibir promociones
              </label>
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <label for="validationTextarea" class="form-label">Textarea</label>
            <textarea
              class="form-control"
              id="validationTextarea"
              placeholder="Escriba su mensaje aquí"
              required
            ></textarea>
            <div class="invalid-feedback">
              Por favor ingrese un mensaje en el textarea.
            </div>
          </div>
          <div>
            <p class="recordatorio-text-area"></p>
          </div>
          <div class="col-md-12 mb-3 button">
            <button
              type="submit"
              class="btn btn-info active"
              id="botoncito"
              aria-pressed="true"
            >
              ENVIAR
            </button>
          </div>
        </form>
      </div>
    </div>

    <footer class="">
      <nav class="navbar navbar-expand-md">
        <div class="container-fluid justify-content-center">
          <ul class="d-flex justify-content-evenly nav">
            <li class="nav-item footer">
              <a class="nav-link" href="contacto.html">Contáctenos</a>
            </li>
            <li class="nav-item footer">
              <a class="nav-link" href="index.html">MA CUISINE Prensa</a>
            </li>
            <li class="nav-item footer">
              <a class="nav-link footer" href="index.html">Diseño por Grupo9</a>
            </li>
            <li class="nav-item">
              <a class="nav-link footer" href="index.html"
                >Términos y condiciones</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link footer" href="index.html"
                >Políticas de privacidad</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="buy-tickets.html"
                >E-mail:contact@macuisine.com</a
              >
            </li>
          </ul>
          <!-- <div class="collapse navbar-collapse justify-content-end">
          </div>-->
        </div>
      </nav>
    </footer>
    <script>
      // JavaScript para activar las validaciones
      (function () {
        "use strict";
        var forms = document.querySelectorAll(".needs-validation");
        Array.prototype.slice.call(forms).forEach(function (form) {
          form.addEventListener(
            "submit",
            function (event) {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add("was-validated");
            },
            false
          );
        });
      })();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
