<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ma cuisine</title>
    <link
      rel="shortcut icon"
      href="./img/logo-france.png"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/css/bootstrap.min.css"
      integrity="sha512-nqrqz6xPug/bD0w6eBYU6p1c6HohZ0Sh1/KkOzL9bS5e5Tp5/V5pzY+Yd5o4Q4/Z4Z4wyikV7E+Bpx87XJQrWQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link href="css/styles.css" rel="stylesheet" />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="index.html">
          <img src="img/logo-france.png" alt="Logo" />
          <!-- <span class="logo-france">Ma cuisine</span> -->
        </a>

        <button
          class="navbar-toggler hamburguesa"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
          <!--<span>☰</span>-->
        </button>

        <div class="container-fluid">
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarNav"
          >
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ma-cuisine.html">Ma Cuisine</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/menu.html">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contacto.html">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login.html">Registro/Ingreso</a>
              </li>
              <li class="nav-item" id="usuarios-link" style="display: none;">
                <a class="nav-link" href="/usuarios.html">Usuarios</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container-fluid">
      <div class="text ma-cuisine-interior-text">
        <h2 class="titulo-mcuisine">EL interior de Ma Cuisine</h2>
        <p>
          El diseño interior de Ma Cuisine es una celebración del buen gusto
          francés: lámparas de araña elegantes, mesas de madera pulida, y
          detalles en tonos suaves que evocan los bistrós parisinos. Grandes
          ventanales permiten que la luz natural bañe el salón principal,
          realzando la atmósfera relajada y elegante. El menú, cuidadosamente
          elaborado por chefs con formación en las mejores tradiciones
          culinarias de Francia, ofrece una selección de platos que destacan por
          su autenticidad y creatividad. esde entrantes como el foie gras y las
          ostras frescas, hasta platos principales como el magret de pato y el
          bouillabaisse, cada creación refleja la pasión por los ingredientes
          frescos y de alta calidad. Los postres, como el crème brûlée y el
          tarte tatin, ponen un broche de oro a la experiencia culinaria. En Ma
          Cuisine, cada detalle está pensado para ofrecer una experiencia
          gastronómica excepcional, donde el encanto de la cocina francesa se
          encuentra con la vibrante energía de Palermo, creando un oasis de
          sabor y elegancia en el corazón de Buenos Aires.
        </p>
      </div>
    </div>

    <div class="img-grid">
      <div class="column">
        <img class="img-item" src="./img/ma-cuisine-espacio.png" alt="" />
      </div>
      <div class="column">
        <div>
          <img class="img-item" src="./img/nuestra-vajilla.jpeg" alt="" />
        </div>
        <div>
          <img
            class="img-item"
            src="./img/cenital_bicerin_living.jpeg"
            alt=""
          />
        </div>
      </div>
    </div>
    <!-- Modal para mostrar la imagen aumentada -->
    <div id="modal" class="modal">
      <span id="close" class="close">&times;</span>
      <img class="modal-content" id="modal-img" />
    </div>

    <footer class="">
      <nav class="navbar navbar-expand-md">
        <div class="container-fluid justify-content-center">
          <ul class="d-flex justify-content-evenly nav">
            <li class="nav-item footer">
              <a class="nav-link" href="contacto.html">Contáctenos</a>
            </li>
            <li class="nav-item footer">
              <a class="nav-link" href="index.html">MA CUISINE Prensa</a>
            </li>
            <li class="nav-item footer">
              <a class="nav-link footer" href="index.html">Diseño por CAnton</a>
            </li>
            <li class="nav-item">
              <a class="nav-link footer" href="index.html"
                >Términos y condiciones</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link footer" href="index.html"
                >Políticas de privacidad</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="buy-tickets.html"
                >E-mail:contact@macuisine.com</a
              >
            </li>
          </ul>
          <!-- <div class="collapse navbar-collapse justify-content-end">
                </div>-->
        </div>
      </nav>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="./js/js.js"></script>
  </body>
</html>
