<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ma Cuisine Resto</title>
    <link
      rel="shortcut icon"
      href="./img/logo-france.png"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/css/bootstrap.min.css"
      integrity="sha512-nqrqz6xPug/bD0w6eBYU6p1c6HohZ0Sh1/KkOzL9bS5e5Tp5/V5pzY+Yd5o4Q4/Z4Z4wyikV7E+Bpx87XJQrWQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="/">
          <img src="img/logo-france.png" alt="Logo" />
          <!-- <span class="logo-france">Ma cuisine</span> -->
        </a>

        <button
          class="navbar-toggler hamburguesa"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
          <!--<span>☰</span>-->
        </button>

        <div class="container-fluid">
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarNav"
          >
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ma-cuisine.html">Ma Cuisine</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/menu.html">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contacto.html">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login.html">Registro/Ingreso</a>
              </li>
              <li class="nav-item" id="usuarios-link" style="display: none;">
                <a class="nav-link" href="/usuarios.html">Usuarios</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="menu-card">
              <img src="img/MACUISINE-Menu-Gourment-Cata-2.png" alt="Plato 1" />
              <div class="menu-card-content">
                <h3 class="menu-card-title">
                  Filete de pollo con puré de coliflor, setas, col rizada (kale)
                  y flores comestibles.
                </h3>
                <p class="menu-card-text">
                  Filete de pollo asado o a la parrilla, acompañado de puré de
                  coliflor suave y cremoso, adornado con setas salteadas y
                  trozos de coliflor asada. Incluye además hojas de col rizada
                  (kale) y flores capuchinas.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="menu-card">
              <img
                src="img/MACUISINE-Menu-Gourment-Cata-3.png"
                alt="Plato 2"
                loading="lazy"
              />
              <div class="menu-card-content">
                <h3 class="menu-card-title">
                  Pulpo a la Parrilla con Espagueti Negro y Salsa de Tomate
                  Ahumado.
                </h3>
                <p class="menu-card-text">
                  Disfrute de un exquisito pulpo a la parrilla, perfectamente
                  tierno y caramelizado, servido sobre un nido de espagueti
                  negro infusionado con tinta de calamar y realzado con tomate
                  ahumado.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="menu-card">
              <img
                src="img/MACUISINE-Menu-Gourment-Catas.png"
                alt="Plato 2"
                loading="lazy"
              />
              <div class="menu-card-content">
                <h3 class="menu-card-title">
                  Lomo de Res Sellado con Puré de Berenjena y Zarzamoras.
                </h3>
                <p class="menu-card-text">
                  Lomo de res sellado a la perfección, servido en finas rodaja.
                  Acompañado por un suave y cremoso puré de berenjena. El plato
                  se adorna con frescas zarzamoras, se espolvorea con crujientes
                  trozos de nuez y se corona con hojas frescas de albahaca.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="menu-card">
              <img src="img/osso-buco.jpeg" alt="Plato 2" loading="lazy" />
              <div class="menu-card-content">
                <h3 class="menu-card-title">
                  Filete de Res con Hueso, Puré y Hojas Verdes.
                </h3>
                <p class="menu-card-text">
                  Filete de res premium, cocinado a la perfección y presentado
                  con el hueso y hojas frescas para realzar su sabor, acompañado
                  de un puré cremoso y suave que complementa la carne de manera
                  excepcional. Una especialidad de la casa.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="menu-card">
              <img src="img/pollo-naranja.jpeg" alt="Plato 2" loading="lazy" />
              <div class="menu-card-content">
                <h3 class="menu-card-title">Pollo a la naranja.</h3>
                <p class="menu-card-text">
                  pollo cocinado a la perfección con una salsa vibrante de
                  naranja fresca y uvas jugosas. Este maridaje de sabores
                  cítricos y dulces realza cada bocado, ofreciendo una
                  experiencia culinaria sofisticada y deliciosa, ideal para
                  paladares exigentes y ocasiones especiales.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="menu-card">
              <img src="img/pulpo-grillado.jpeg" alt="Plato 2" loading="lazy" />
              <div class="menu-card-content">
                <h3 class="menu-card-title">Pulpo con Fideos Negros.</h3>
                <p class="menu-card-text">
                  Pulpo tierno y perfectamente cocido, servido sobre una cama de
                  fideos negros de tinta de calamar. Este plato gourmet combina
                  sabores marinos profundos con una presentación visual
                  impactante.
                </p>
              </div>
            </div>
          </div>

          <!-- Agrega más tarjetas de menú según sea necesario -->
        </div>
      </div>
    </main>

    <footer>
      <footer class="">
        <nav class="navbar navbar-expand-md">
          <div class="container-fluid justify-content-center">
            <ul class="d-flex justify-content-evenly nav">
              <li class="nav-item footer">
                <a class="nav-link" href="contacto.html">Contáctenos</a>
              </li>
              <li class="nav-item footer">
                <a class="nav-link" href="/">MA CUISINE Prensa</a>
              </li>
              <li class="nav-item footer">
                <a class="nav-link footer" href="/"
                  >Diseño por CAnton</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link footer" href="/"
                  >Términos y condiciones</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link footer" href="/"
                  >Políticas de privacidad</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/"
                  >E-mail:contact@macuisine.com</a
                >
              </li>
            </ul>
            <!-- <div class="collapse navbar-collapse justify-content-end">
                    </div>-->
          </div>
        </nav>
      </footer>
      <script src="./js/main.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
      <!-- Agrega contenido del pie de página si es necesario -->
    </footer>
  </body>
</html>
